@media screen and (min-width: 768px) {
  
  .menu-item,
  .ad {
    display: block;
  }

  nav i {
    margin: 0;
  }

  .description {
    display: block;
    margin-left: 20px;
  }

  .copyright,
  .footer-links {
    flex-direction: row;
  }

  .footer-links {
    justify-content: space-between;
  }

  .footer-info {
    width: 25%;
  }

  .footer-extra {
    display: flex;
    flex-direction: column;
  }


}
